@font-face {
  font-family: 'AndikaBasic';
  src: url('./fonts/AndBasR.eot'); /* IE9 Compat Modes */
  src: url('./fonts/AndBasR.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./fonts/AndBasR.woff2') format('woff2'), /* Modern Browsers */
    url('./fonts/AndBasR.woff') format('woff'), /* Modern Browsers */
    url('./fonts/AndBasR.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./fonts/AndBasR.svg') format('svg'); /* Legacy iOS */  font-weight: normal;
  font-style: normal;
}